@import url(/styles/components/_gtranslate.css);
@import url(/styles/components/_header.css);
@import url(/styles/components/_hero.css);
@import url(/styles/components/_introductory.css);
@import url(/styles/components/_cards.css);

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}