@import url(styles/components/gtranslate.css);
@import url(styles/components/header.css);
@import url(styles/components/hero.css);
@import url(styles/components/introductory.css);
@import url(styles/components/cards.css);
@import url(styles/components/footer.css);
@import url(styles/components/auxiliaryhero.css);
@import url(styles/components/articlehero.css);

@media (max-width: 700px) {
    body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    box-sizing: border-box;
    margin: 0px;
    }

    html {
        overflow-x: hidden;
        box-sizing: border-box;
        margin: 0px;
    }
    
}
/* 
@media (min-width: 701px) {
    body {
        display: flex;
        flex-direction: column;
        overflow-x: auto; 
        box-sizing: border-box;
        margin: 0px;
    }
    html {
        overflow-x: auto;
        margin: 0px;
        box-sizing: border-box;
    }

}   }
 */
