.landing-body {
    display: flex;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin: 0px;
    
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-text {
    color: #6B6B6B;
    text-align: center;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}